@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
  @include gradient;

  li {
    padding: 0 1.25rem;

    a {
      color: $white;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}
