@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
  @include gradient;

  li {
    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
    padding: 0 1.25rem;

    a {
      color: $white;
      font-weight: 600;
    }
  }
}
