@use '../custom' as *;
@use '../components/mixins' as *;

.accordion-button {
  @include gradient;
  color: #fff !important;
  // box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 2.6px;

  &:not(.collapsed) {
    color: white !important;
    // REMOVE BOX SHADOW WHEN ACCORDION ITEM IS OPEN
    // box-shadow: none !important;
  }
  // REMOVE BORDER ON ACORDION BUTTON FOCUS
  &:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 2.6px;
  }
}
