@use '../custom' as *;
@use '../components/mixins' as *;

.btn-square {
  // @include gradient;
  position: relative;
  font-weight: 500;
  margin: 0;
  border-radius: 0;
  color: #fff;
  // background-color: $secondary;

  &:hover {
    color: #fff;
  }
}
