@use '../custom' as *;

// DISPLAY 3
.display-3 {
  color: $primary;
  font-family: 'Gothic A1', sans-serif;
}

// FONTS

.font-primary {
  font-family: 'Gothic A1', sans-serif;
}

.font-secondary {
  font-family: 'Montserrat', sans-serif;
}
