@use '../custom' as *;
@use '../components/mixins' as *;

// DISPLAY 3
.display-3 {
  color: $primary;
  font-family: 'Gothic A1', sans-serif;

  &--title {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }
}

// FONTS

.font-primary {
  font-family: 'Gothic A1', sans-serif;
}

.font-secondary {
  font-family: 'Montserrat', sans-serif;
}

// GRADIENT BG

.gradient {
  @include gradient;
}
